node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
*.md
.vscode
.idea

# Backend
backend/node_modules
backend/package-lock.json
backend/database.db
backend/uploads/*
!backend/uploads/.gitkeep
backend/backups
backend/public

# Frontend
frontend/node_modules
frontend/package-lock.json
frontend/dist

# Build files
*.log
.DS_Store
